.Header {
  min-height:100vh;
  display:grid;
  align-items: center;
  text-align: center;
  transition:all .5s;
  max-width: 100%;
  justify-content: center;
  min-width: 0;
  padding:3em 0 2em 0;
  position:relative;

  > div {
    min-width: 0;
  }
  h1 {
    font-size:clamp(7em,27vmax,50em);
    font-size:15vw;
    user-select: none;
    line-height:1.1;
    position: relative;
    margin:.1em auto .1em auto;
    font-weight:500;
    span {
      display:inline-block;
    }
  }
  p {
    max-widtH:40em;
    margin:0 auto 1em auto;
    font-size:1.2em;
    line-height:1.6;
    position: relative;
    padding:0 1em;
    color:var(--page-color);
    @media screen and (max-widtH:40em) {
      font-size:.8em
    }
  }
}

.SubHeader {
  > span {
    line-height: 2.4em;
    box-decoration-break: clone;
    border: 0.4em solid rgb(42, 54, 59);
    border-width: .35em .6em .5em .6em;
  }
}