.SocialMedia {
  min-height:50vh;
  align-items: center;
  background-color: var(--page-color);
  color:var(--page-background-color);
  overflow-x: hidden;
  .SocialMedia__Container {
    display:grid;
    align-items:flex-start;
    @media (min-width:700px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  h2 {
    margin:.2em 0;
    color:var(--page-background-color);
  }
  p {
    max-width:30em;
  }
  a {
    position:relative;
    display:inline-block;
  }
  .SocialMedia__Icon {
    font-size:clamp(1.5em, 1em + 3vmax, 5em);
    display:block;
    margin:0 auto;
    position:relative;
    border-bottom:solid 1px #fff2;
    display:flex;
    align-items: center;
    span {
      flex-grow: 1;
    }
    svg {
      font-size:.7em;
      opacity:0;
      transform:translateX(-2em)
    }
    * {
      fill:var(--page-background-color);
      transition:all .3s;
    }
    &:hover {
      color:var(--page-primary-color);
      svg {
        * {
          fill:var(--page-primary-color);
        }
        font-size:.7em;
        opacity:1;
        transform:translateX(0)
      }
    }
  }
}
