.TransitionCover {
  position:fixed;
  top:0;
  left:-15vmax;
  width:130vmax;
  height:100vh;
  z-index:99;
  display:flex;
  transform: skew(15deg);
  transform-origin: center;
  pointer-events: none;
  @media (max-width:500px) {
    transform: rotate(90deg) skew(15deg);
    top:-5vmax;
  }
  > div {
    width:20%;
    background:#000000;
    transform-origin: top left;
    margin-right:-1px;
    height:100vh;
    &:nth-child(even) {
      transform-origin: bottom left;
    }
  }

}