.Footer {
  background-color: var(--page-color);
  > div {
    max-width:80em;
    margin:0 auto;
    padding: 2vmax 0;
    display:flex;
    position:relative;
    > * {
      flex-grow: 0;
      padding: 0 1em;
      white-space: nowrap;
    }
    a, a * {
      color:var(--page-background-color);
      fill:var(--page-background-color);
      &:hover, &:hover * {
        color:var(--page-primary-color);
        fill:var(--page-primary-color);
      }
    }
    &:before {
      content:"";
      opacity:.2;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      display:block;
      border-top:1px solid var(--page-background-color);
      width:100%;
      border-top:1px solid var(--page-background-color);
    }
  }
  .HR {
    flex-grow:1;
  }
}

.Footer__logo {
  font-size:1em;
  font-weight: 400;
}
