.AboutSection__Container {
  display:grid;
  gap: 2vmax;
  text-align: center;
  align-items: center;
  min-height:80vh;
  display:grid;

  h2 {
    max-width:23ch;
    margin:1em auto;
  }
  p {
    font-size:clamp(1em, .5em + .5vmax ,3em);
    font-weighT:300;
    max-width:90ch;
    margin:0 auto;
  }
}

.WorkSection {
  background: #101214;
  background:var(--page-color);
  color:var(--page-primary-color);
  padding-bottom: 10em;
  > div> div {
    min-height:80vh;
    > :first-child, > :first-child + * {
      grid-column: 1 / 3;
    }
  }
  +div {
    margin-top:-12em;
    @media (min-width:800px) {
      margin-top:-20em;
    }
  }

  h3 {
    margin:0 0 .5em 0;
    font-weight:300;
    color:#fff;
    font-size: clamp(5em, 10vw, 10em);
  }
  h4 {
    font-weight:300;
    font-size: clamp(3em, 5vw, 5em);
    margin:0;
  }
}

.ProjectsSection {
  pointer-events:none;
  h2 {
    margin:0;
  }
  > div > div > div {
    pointer-events: all;
  }
}

.ProjectsSection__wrapper {
  max-widtH:120ch !important;
  h2 {
    color:#fff;
  }
}

.AboutSection__image {
  img {
    display:block;
  }

}

.AfterWorkSection {
  .AfterWorkSection__ReadingHeader,.AfterWorkSection__ListeningHeader {
    margin:0;
    position: relative;
    font-size:clamp(1em, 15vw, 15em) ;
    font-weight: 400;
    color:var(--page-color)
  }
  .AfterWorkSection__ListeningHeader {
    position:sticky;
    top:4rem;
  }
}